



<div class="content">

<section class="about">
    <h1 class="align-center p-3 bg-dark txt-light">About</h1>
    <div class="about_cotent m-3  p-4">
        <b>
            Welcome to BioPyTech, your one-stop destination for bioinformatics tools! Our website offers a comprehensive collection of bioinformatics tools and resources, all conveniently gathered in one place for your research needs.


        </b>
    </div>
</section>

<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=UTF-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={{url_for('static',filename='main.css' )}}>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <title>Bio_Py_Tech</title>
</head>

<body>
    <!--         <nav class="nav"> -->
    <!--     <div class="logo"> -->
    <!--         <h1>medmh</h1> -->
    <!--     </div> -->
    <!--     <a class="hamburger" href="#"> -->
    <!--         <span class="bar bar1 bg-dark"></span> -->
    <!--         <span class="bar bar2 bg-dark"></span> -->
    <!--         <span class="bar bar3 bg-dark"></span> -->
    <!--     </a> -->
    <!--     <div class="nav-links"> -->
    <!--         <ul> -->
    <!--             <li><a href="#">1</a></li> -->
    <!--             <li><a href="#">2</a></li> -->
    <!--             <li><a href="#">3</a></li> -->
    <!--         </ul> -->
    <!--     </div> -->
    <!-- </nav> -->
    <!-- <script> -->
    <!--     const hamburger =document.querySelector('.hamburger')  -->
    <!--     const navLinks = document.querySelector('.nav-links') -->
    <!--     hamburger.addEventListener('click',()=>{ -->
    <!--                 navLinks.classList.toggle('active') -->
    <!--             }) -->
    <!-- </script> -->


    <nav class="nav">
        <div class="logo">
            <a href={{url_for('home')}}>
                <img id='logo' src="../static/images/logo-dark-bio-py-tech.png" alt="">
            </a>
        </div>
        <a class="hamburger" href="#">
            <span class="bar bar1 bg-dark"></span>
            <span class="bar bar2 bg-dark"></span>
            <span class="bar bar3 bg-dark"></span>
        </a>
        <div class="nav-links">

            <ul>
                <li><a href={{url_for('home')}}>Home</a></li>
                <li><a href={{url_for('tools')}}>Tools</a></li>
                <li><a href={{url_for('about')}}>About</a></li>
                <li><a href="#use">How To use</a></li>
            </ul>
        </div>
        <!-- <div class="ham"> -->
        <!--     <span class="bar bar1"></span> -->
        <!--     <span class="bar bar2"></span> -->
        <!--     <span class="bar bar3"></span> -->
        <!-- </div> -->
    </nav>
    <div class="content">{% endblock %}
    {% block tools %}{% endblock %}

    <script src={{url_for('static',filename='app.js' )}}></script>

</body>

</html>
{% extends 'base.html' %}




<div class="content">
<section class="contact">
    <h1>Contact</h1>
</section>

{% endblock %}


{% extends 'base.html' %}




<div class="content">
<section class="gc_per">
    <h1 class="align-center p-2">Dna Complementary </h1>
    <br><br>
    <center>
    <div class="gc">
        <form action={{url_for('dna_cmp')}} method="post">

            <textarea placeholder="enter a dna sequence" class="inp-gc" type="text" name="dna_cmp"></textarea> <br><br>
        <button class="btn gc-btn" type="submit">Get dna Reverse</button>
        </form>
        <br>
        <br>
       brin transcris : {{f}}
        <br>
        <br>
        brin comp: {{cmp}}
    </div>
   </center>
</section>

{% endblock %}




{% extends 'base.html' %}




<div class="content">
<section class="gc_per">
    <h1 class="align-center p-2">Gc Percentage</h1>
    <br><br>
    <center>
    <div class="gc">
        <form action={{url_for('gc')}} method="post">

            <textarea placeholder="enter a dna sequence" class="inp-gc" type="text" name="gc_seq"></textarea> <br><br>
        <button class="btn gc-btn" type="submit">Calculate</button>
        </form>
        <br>
        <br>


        GC% = {{per}} %
    </div>
    </center>
</section>

{% endblock %}



{% extends 'base.html' %}


{% block content%}
<header>
    <div class="ds-f j-s-between al-center p-3">
        <div class="ctn">
            <h1 class="fs-xxl">BioPy Tech</h1>
            <p class="fs-lg">A Collection Of Useful tools For Bioinformatics</p>
            <button class="btn btn-dark  check_tools mt-2" type="submit">
                <a class="txt-light" href={{url_for('tools')}}><span> &#8594;</span> Check Tools </a> </button>
        </div>
        <div class="bio_svg">
            <img style="width: 80%; " src="../static/images/bpt.svg" alt="">
    </div>

            </div>

</header>

    <section class="tools_slider p-3">
        <h1 class="align-center pb-3">Tools</h1>
        <div class="tls tool carousel">
             <div class="card tl tl1">
            <a href={{url_for('seq_length')}}>
                <center>
                    <img src={{url_for('static',filename='icons/length.svg')}} alt="">
                </center>
                <h2>Sequence Length</h2>
            </a>
        </div>


        <div class="card tl tl2">
            <a href={{url_for('dna_cmp')}}>
                <center>
                    <img src={{url_for('static',filename='icons/cmp.svg')}} alt="">
                </center>
            <h2>Dna Complementary </h2>
            </a>
        </div>

        <div class="card tl tl3">
            <a href={{url_for('gc')}}>
            <span><h1 class="align-center">GC%</h1></span>
            <h2 class="m-1">GC% Calculator</h2>
            </a>
        </div>

        <div class="more">
            <a href={{url_for('tools')}}>
                <b>
                    See More >
                </b>
            </a>
        </div>


        </div>
    </section>
    <section  id='use' class="use">
        <h1 class="align-center pb-3">How To Use</h1>
        <div>
            <h1>Rna To Peptide</h1>
            <img src={{url_for('static',filename='images/rna_to_peptide.gif')}} alt="">
        </div>
        <div>
        <img src={{url_for('static',filename='images/dna_to_rna.gif')}} alt="">
        <h1>Dna To Rna</h1>
        </div>

        <div>
        <h1>Gc%</h1>
        <img src={{url_for('static',filename='images/gc_per.gif')}} alt="">
        </div>
    </section>
    <section class="created_by">
        <h1>Dev Info</h1>
        <div class="devlopper">
            <div class="flip-inner">
                <div class="flip-front">
                    <img id='dev-logo' src={{url_for('static',filename='images/logo.jpg')}} alt="">
                    <h2>Medmh</h2>
                </div>
                <div class="flip-back">
                    <span>website:</span>
                    <a href="https://medmh.netlify.app/" target='_blank'>
                         <img src={{url_for('static',filename='images/medmh.png')}} alt="">
                    </a>
                    <div class="social">
                     <a href="https://github.com/medragneel" target='_blank'>
                         <img src={{url_for('static',filename='icons/github-brands.svg')}} alt="">
                     </a>
                     <a href="https://codepen.io/Medmh" target='_blank'>
                         <img src={{url_for('static',filename='icons/codepen-brands.svg')}} alt="">
                     </a>
                     <a href="https://www.facebook.com/mirai.dragneel" target='_blank'>
                         <img src={{url_for('static',filename='icons/facebook-brands.svg')}} alt="">
                     </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <footer style='text-align: center;padding:20px;'>
         &#169;Copyright All Right Reserved
     </footer>

{% endblock %}

{% extends 'base.html' %}




<div class="content">
<section class="gc_per">
    <h1 class="align-center p-2">Sequence Length</h1>
    <br><br>
    <center>
    <div class="gc">
        <form action={{url_for('seq_length')}} method="post">

            <textarea placeholder="enter a dna sequence" class="inp-gc" type="text" name="len"></textarea> <br><br>
        <button class="btn gc-btn" type="submit">Get seq_length</button>
        </form>
        <br>
        <br>


        Sequence: {{sq}} <br><br>
        Length: {{length}}
    </div>
    </center>
</section>

{% endblock %}




{% extends 'base.html' %}




<div class="content">
<section class="gc_per">
    <h1 class="align-center p-2">Count Point Mutations</h1>
    <br><br>
    <center>
    <div class="gc">
        <form action={{url_for('mutations_count')}} method="post">

            <input placeholder="enter seq1" class="inp-gc seq1" type="text" name="seq1"> <br><br>
            <input placeholder="enter seq2" class="inp-gc seq2" type="text" name="seq2"> <br>  <br>
            <span style="font-size: 0.7em;">please enter two sequences that have the same length</span> <br> <br>
        <button class="btn gc-btn" type="submit">Compare</button>
        </form>
        <br>
        <br>

        <b>
            {{seq1}}
        </b>
        <br>
        <br>
        <b>
            {{seq2}}
        </b>
        <br>
        <br>
    </center>
    <table id='mutation' >				<!-- create an table object -->
     <tr>				<!-- "tr" represents a row -->
       <th scope="col">Position Mutation</th>	<!-- use "th" to indicate header row -->
       <th scope="col">nucleotide 1</th>
       <th scope="col">nucleotide 2</th>
     </tr>
     <tr>
     {% for m in mc %}
         <td data-label="Position Mutation">{{m[0] + 1}}</td>
         <td data-label="nucleotide 1" style='color: red;'>{{m[1]}}</td>
         <td data-label="nucleotide 2" style='color: red;'>{{m[2]}}</td>

     </tr>
     {% endfor %}
   </table>
        <br>
        <br>
        <p class="align-center p-2" id='mut_count'> mutations_count : {{l}} </p>
        <br>
        <br>

        <center>
            <button class='btn_save' onclick='saveMut()'> save Mutation as</button>
        </center>
        <br>
        <br>
        <br>

    </div>
</section>

{% endblock %}





{% extends 'base.html' %}




<div class="content">
<section class="gc_per">
    <h1 class="align-center p-2">Proteins Mass Calculator</h1>
    <br><br>
    <center>
    <div class="gc">
        <form action={{url_for('pmass')}} method="post">

            <textarea placeholder="enter a protein sequence" class="inp-gc" type="text" name="pmass"></textarea> <br><br>
        <button class="btn gc-btn" type="submit">Get protein mass</button>
        </form>
        <br>
        <br>


      protein mass:  {{pm}}
    </div>
    </center>
</section>

{% endblock %}





{% extends 'base.html' %}




<div class="content">
<section class="gc_per">
    <h1 class="align-center p-2">From Rna To Peptide</h1>
    <br><br>
    <center>
    <div class="gc">
        <form action={{url_for('pseq')}} method="post">

        <textarea placeholder="enter a protein sequence" class="inp-gc" type="text" name="protein_seq"></textarea> <br><br>
        <button class="btn gc-btn" type="submit">Get Peptide</button>
        </form>
        <br>
        <br>


      rna seq:  {{psq}} <br><br>
      peptide: <span id='protSeq'>{{pep}}</span>
    </div>
    <button class='btn_save' onclick='saveProt();'>Save protein As</button>
    </center>
</section>

{% endblock %}






{% extends 'base.html' %}




<div class="content">
<section class="gc_per">
    <h1 class="align-center p-2">From Dna To Rna</h1>
    <br><br>
    <center>
    <div class="gc">
        <form action={{url_for('rna')}} method="post">

        <textarea placeholder="enter a dna sequence" class="inp-gc" type="text" name="dna"></textarea> <br><br>
        <button class="btn gc-btn" type="submit">Get Rna Seq</button>
        </form>
        <br>
        <br>


        <span id='rnaSeq'>{{rna}}</span>
        <button class='btn_save' onclick='saveRna();'>Save Rna As</button>
    </div>
    </center>
</section>

{% endblock %}




{% extends 'base.html' %}




{% block tools %}

<section class="all_tools">
    <h1 class="align-center p-2">All Tools</h1>

    <div class="tls grid m-2">
        <div class="card tl tl1">
            <a  href={{url_for('seq_length')}}>
                <img src={{url_for('static',filename='icons/length.svg')}} alt="">
                <h2 class="mt-3">Sequence Length</h2>
            </a>
        </div>


        <div class="card tl tl2">
            <a href={{url_for('dna_cmp')}}>
            <img src={{url_for('static',filename='icons/cmp.svg')}} alt="">
            <h2 class="mt-2">Dna Complementary </h2>
            </a>
        </div>

        <div class="card tl tl3">
            <a href={{url_for('gc')}}>
            <span><h1>GC%</h1></span>
            <h2 class="mt-4">GC% Calculator</h2>
            </a>
        </div>

        <div class="card tl tl4">

            <a href={{url_for('mutations_count')}}>
                <img src={{url_for('static',filename='icons/mutation.svg')}} alt="">

            <h2 class="mt-2">Count Point Mutations</h2>
            </a>
        </div>

        <div class="card tl tl5">
            <a href={{url_for('pmass')}}>
                <img src={{url_for('static',filename='icons/proteins.svg')}} alt="">
                <h2 class="mt-1">Calculating Protein Mass</h2>
            </a>
        </div>
        <div class="card tl tl6">
            <a href={{url_for('rna')}}>
                <img src={{url_for('static',filename='icons/dna.svg')}} alt="">
                <h2 class="mt-1">Rna Sequence</h2>
            </a>
        </div>

        <div class="card tl tl7">

            <a href={{url_for('pseq')}}>
            <img src={{url_for('static',filename='icons/prot.svg')}} alt="">
            <h2 class="mt-1">From Rna to Protein</h2>
            </a>
        </div>
    </div>

</section>

{% endblock %}
