@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("http://fonts.cdnfonts.com/css/bord-demo");
/* reset styles */
@import url("http://fonts.cdnfonts.com/css/earth-orbiter");
@import url("http://fonts.cdnfonts.com/css/bord-demo");
* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

body::-webkit-scrollbar {
  width: 3px; /* width of the entire scrollbar */
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: hsl(211deg, 90%, 50%);
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  color: hsl(0deg, 5%, 10%);
}

.btn {
  color: hsl(0deg, 0%, 93%);
  background-color: hsl(211deg, 90%, 50%);
  border-radius: 8px;
  border: none;
  padding: 1rem;
  outline: none;
  cursor: pointer;
}.al-center {
  align-items: center;
}.pb-3 {
  padding-bottom: 4rem;
}.card {
  display: block;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}.nav-links {
    display: none;
    width: 100%;
    min-height: calc(100vh - 56px);
  }.mt-1 {
  margin-top: 0.75rem;
}.logo {
  font-size: 1.5rem;
  font-family: "Bord Demo", sans-serif;
}.logo {
    margin: 0;
    line-height: 3;
    padding: 0.25em;
  }.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}.grid {
  margin-top: 2rem;
}.hamburger {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  display: none;
}.hamburger {
    display: flex;
  }.fs-lg {
  font-size: 1.5rem;
}.bg-dark {
  background-color: hsl(0deg, 5%, 10%);
  color: hsl(0deg, 0%, 93%);
}.txt-light {
  color: hsl(0deg, 0%, 93%);
}.fs-xxl {
  font-size: 3rem;
}.m-3 {
  margin: 3rem;
}.p-2 {
  padding: 2rem;
}.ds-f {
  display: flex;
}.p-4 {
  padding: 6rem;
}.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  min-height: 80px;
}.nav {
    flex-direction: column;
    align-items: flex-start;
  }.mt-4 {
  margin-top: 4.5rem;
}.p-3 {
  padding: 4rem;
}.btn-dark {
  background-color: hsl(0deg, 5%, 10%);
}.bar {
  width: 100%;
  height: 3px;
  border-radius: 8px;
}.carousel {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
  scroll-snap-align: start;
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}.j-s-between {
  justify-content: space-between;
}.m-1 {
  margin: 0.75rem;
}.mt-2 {
  margin-top: 1.5rem;
}.mt-3 {
  margin-top: 3rem;
}.m-2 {
  margin: 1.5rem;
}.align-center {
  text-align: center;
}
.bg-primary {
  background-color: hsl(211deg, 90%, 50%);
  color: hsl(0deg, 0%, 93%);
}.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-gap: 2rem;
  text-align: center;
}.grid {
  margin-top: 2rem;
}.bg-dark {
  background-color: hsl(0deg, 5%, 10%);
  color: hsl(0deg, 0%, 93%);
}.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}